---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			form {
				display: flex;
				flex-direction: column;
				margin: 0 auto;
			}

			label {
				margin-bottom: 8px;
			}

			input,
			textarea {
				padding: 8px;
				border: 1px solid #ccc;
				border-radius: 4px;
				margin-bottom: 16px;
			}

			textarea {
				resize: vertical;
				min-height: 100px;
			}

			button {
				padding: 8px 16px;
				font-weight: bold;
				background-color: #2337ff;
				color: #fff;
				border: none;
				border-radius: 4px;
				cursor: pointer;
			}

			button:hover {
				background-color: #000d8a;
			}

			.required:after {
				content:" *";
				color: red;
			}
		</style>
	</head>
	<body>
		<a href="#main" class="skip-to-main-content">Passer au contenu principal</a>
		<Header title={SITE_TITLE} />
		<main id="main">
			<h1>Contactez-nous</h1>
			<form>
				<p>Veuillez remplir tous les champs obligatoires (*) avant d'envoyer le formulaire.</p>

				<label for="name" class="required">Nom :</label>
				<input type="text" id="name" name="name" required autocomplete="name" />

				<label for="email" class="required">Email :</label>
				<input type="email" id="email" name="email" required autocomplete="email" />

				<label for="message" class="required">Message :</label>
				<textarea id="message" name="message" required></textarea>

				<button type="submit">Envoyer</button>
			</form>
		</main>
		<Footer />
	</body>
</html>
