---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<a href="#main" class="skip-to-main-content">Passer au contenu principal</a>
		<Header title={SITE_TITLE} />
		<main id="main">
			<h1>Projet ergonomie</h1>
			<p>
				Ce site a pour but de présenter notre compréhension du cours d'ergonomie qui nous a était fait dans le cadre de notre troisième et dernière année d'étude à l'ENSSAT. Ainsi dans la partie blog vous trouverez l'ensemble de nos rédactions dans ce cadre.
			</p>
			<p>
				Nous sommes trois étudiants en dernière année d'étude à l'ENSSAT. Nous venons tous les trois de Bretagne et sommes en apprentissage dans différentes entreprises.
			</p>
		</main>
		<Footer />
	</body>
</html>
